.solid {
  border: 1px solid rgba(0, 0, 0, .12);
}

.solid-top {
  border-top: 1px solid rgba(0, 0, 0, .12);
}

.solid-right {
  border-right: 1px solid rgba(0, 0, 0, .12);
}

.solid-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.solid-left {
  border-left: 1px solid rgba(0, 0, 0, .12);
}

.rounded-0 {
  border-radius: 0 !important;
}

.rounded-sm {
  border-radius: 2px !important;
}

.rounded-md {
  border-radius: 4px !important;
}

.rounded-lg {
  border-radius: 8px !important;
}

.rounded-xl {
  border-radius: 24px !important;
}

.rounded-pill {
  border-radius: 9999px !important;
}

.rounded-circle {
  border-radius: 50% !important;
}