@import url("./tools/_flex.css");
@import url("./tools/_radius.css");
@import url("./tools/_padding.css");
@import url("./tools/_margin.css");
@import url("./tools/_nmargin.css");
@import url("./tools/_typography.css");
@import url("./tools/_float.css");
@import url("./tools/_elevation.css");

.z-input {
  position: relative;
}

.z-input .z-messages {
  position: relative;
  flex: 1 1 auto;
  min-height: 14px;
  line-height: 12px;
  min-width: 1px;
  font-size: 12px;
}