.z-row {
  display: flex;
  flex-flow: row wrap;
}

@for $index from 1 through 24 {
  .z-col-#{$index} {
    display: block;
    flex: 0 0 #{4.16666667% * $index};
    max-width: #{4.16666667% * $index};
  }
}