@for $index from 0 through 16 {
  // 上边距
  .mt-#{ $index } { margin-top: #{ 4 * $index }px!important; }

  // 下边距
  .mb-#{ $index } { margin-bottom: #{ 4 * $index }px!important; }

  // 左边距
  .ml-#{ $index } { margin-left: #{ 4 * $index }px!important; }

  // 右边距
  .mr-#{ $index } { margin-right: #{ 4 * $index }px!important; }

  // 水平方向外边距
  .mx-#{ $index } { margin-left: #{ 4 * $index }px!important; margin-right: #{ 4 * $index }px!important; }

  // 垂直方向外边距
  .my-#{ $index } { margin-top: #{ 4 * $index }px!important; margin-bottom: #{ 4 * $index }px!important; }

  // 外边距
  .ma-#{ $index } { margin: #{ 4 * $index }px!important; }
}

.mt-auto { margin-top: auto!important; } 
.mb-auto { margin-bottom: auto!important; } 
.ml-auto { margin-left: auto!important; } 
.mr-auto { margin-right: auto!important; } 
.mx-auto { margin-left: auto!important; margin-right: auto!important; } 
.my-auto { margin-top: auto!important; margin-bottom: auto!important; } 
.ma-auto { margin: auto!important; } 

